<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="style1.css">
  <title>EVMS</title>
</head>
<body>
    <header class="header">
      <!--nav bar-->
      <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> MediSkin</a>
      <nav class="navbar">
        <a href="Index.html"><i class="fas fa-home"></i>Home</a>
        <a href="prediction.html"><i class="fa fa-stethoscope"></i>Detector</a>
        <a href="login.html"><i class="fas fa-user"></i>Login</a>
        <a href="register.html"><i class="fas fa-user-edit"></i>Register</a>
      </nav>
      <div id="menu-btn" class="fas fa-bars"></div>
      

      <!--end of nav bar-->
    </header>

    <!--Home section starts -->
    <section class="home" id="Home">
      <div class="image">
        <img src="pics/medicine-animate.svg" alt="">
        
      </div>
      <div class="content">
        <h3>Prevention is better than cure</h3>
        <p>Detect Prevent and Lead Healthy and Wealthy life</p>
        <a href="#Footer" class="btn">contact us<span class="fas fa-chevron-right"></span></a>

      </div>

    </section>
